<div *ngIf="tripservice && tripservice.trip" class="container">
    <agm-map [latitude]="tripservice.trip.center_lat"
             [longitude]="tripservice.trip.center_lng"
             [zoom]="zoom"
             [disableDefaultUI]="false"
             (mapClick)="mapClicked($event)">
      <div *ngIf="tripservice.markers" class="container">
        <div *ngFor="let marker of tripservice.markers; let i=index">
          <agm-marker [latitude]="marker.lat"
                      [longitude]="marker.lng"
                      [label]="i">
            <agm-info-window>

           </agm-info-window>
         </agm-marker>
        </div>
      </div>
    </agm-map>
<div>
<!-- <ng-template [ngTemplateOutlet]="marker.description"></ng-template> -->
<!-- <ng-template>
  <div #infoWindowContainer class="main-window-content"> -->
    <!-- <div class="full-image" [defaultImage]="'https://take.imgix.net/'+facility.obj.thumbnail+'?auto=format&w=273&h=auto&q=1&blur=100'" [lazyLoad]="'https://fake.imgix.net/'+facility.obj.thumbnail+'?auto=format&w=273&h=auto&q=50'"></div> -->
    <!-- <p>{{marker.description}}</p> -->
<!-- </div>
</ng-template> -->
