<p>Minimum fields for a Marker are Name, Latitude, and Longitude.</p>
<h2>New Marker</h2>

<form #markerForm="ngForm" (ngSubmit)="saveMarker(newMarker)" class="container">
  <div class="row">
    <label for="name">Name</label>
    <input type="text" class="form-control" required [(ngModel)]="newMarker.name" name="name" #name="ngModel">
    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
      <div [hidden]="!name.errors.required">
          Name is required!
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <label for="description">Description</label>
      <input class="form-control" name="description" [(ngModel)]="newMarker.description">
    </div>
  </div>
  <div class="row">
    <label for="lat">Latitude</label>
    <input type="number" minlength="-90" maxlength="90" class="form-control" name="lat" required [(ngModel)]="newMarker.lat" name="lat" #lat="ngModel">
    <div *ngIf="lat.errors && (lat.dirty || lat.touched)" class="alert alert-danger">
      <div [hidden]="!lat.errors.required">
           Latitude requires a number between -90 and 90!
      </div>
    </div>
  </div>
  <div class="row">
    <label for="lng">Longitude</label>
    <input type="number" minlength="-180" maxlength="180" class="form-control" required [(ngModel)]="newMarker.lng" name="lng" #lng="ngModel">
    <div *ngIf="lng.errors && (lng.dirty || lng.touched)" class="alert alert-danger">
      <div [hidden]="!lng.errors.required">
          Longitude requires a number between -180 and 180!
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <label for="image_url">Image URL</label>
      <input class="form-control" name="image_url" [(ngModel)]="newMarker.image_url">
    </div>
  </div>
  <div class="row">
    <div>
      <label for="poi_url">Site URL</label>
      <input class="form-control" name="poi_url" [(ngModel)]="newMarker.poi_url">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!markerForm.form.valid">Create</button>
  <a class="btn btn-primary" [routerLink]="['/markers']">Cancel</a>
</form>
