<h2>Edit Trip</h2>

<form (ngSubmit)="updateTrip(updatedTrip)">
  <div>
    <label for="name">Name</label>
    <input class="form-control" name="name" [(ngModel)]="updatedTrip.name">
  </div>
  <div>
    <label for="description">Description</label>
    <input class="form-control" name="description" [(ngModel)]="updatedTrip.description">
  </div>
  <div>
    <label for="center_lat">Center Latitude</label>
    <input class="form-control" name="center_lat" [(ngModel)]="updatedTrip.center_lat">
  </div>
  <div>
   <label for="center_lng">Center Longitude</label>
   <input class="form-control" name="center_lng" [(ngModel)]="updatedTrip.center_lng">
 </div>
 <div>
  <label for="zoom">Zoom Factor</label>
  <input class="form-control" name="zoom" [(ngModel)]="updatedTrip.zoom">
</div>
  <input type="submit" class="btn btn-primary" value="Update">
</form>
<div>
  <a class="btn btn-primary" [routerLink]="['/markers']">Markers</a>
</div>
