<p>Minimum fields for a Trip are Name, Center Latitude, Center Longitude, and Zoom.</p>
<h2>New Trip</h2>

<form #tripForm="ngForm" (ngSubmit)="saveTrip(newTrip)" class="container">
  <div class="row">
    <label for="name">Name</label>
    <input type="text" class="form-control" required [(ngModel)]="newTrip.name" name="name" #name="ngModel">
    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
      <div [hidden]="!name.errors.required">
          Name is required!
      </div>
    </div>
  </div>
  <div class="row">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" [(ngModel)]="newTrip.description">
  </div>
  <div class="row">
    <label for="center_lat">Center Latitude</label>
    <input type="number" minlength="-90" maxlength="90" class="form-control" name="center_lat" required [(ngModel)]="newTrip.center_lat" name="center_lat" #center_lat="ngModel">
    <div *ngIf="center_lat.errors && (center_lat.dirty || center_lat.touched)" class="alert alert-danger">
      <div [hidden]="!center_lat.errors.required">
           Center latitude requires a number between -90 and 90!
      </div>
    </div>
  </div>
  <div class="row">
    <label for="center_lng">Center Longitude</label>
    <input type="number" minlength="-180" maxlength="180" class="form-control" required [(ngModel)]="newTrip.center_lng" name="center_lng" #center_lng="ngModel">
    <div *ngIf="center_lng.errors && (center_lng.dirty || center_lng.touched)" class="alert alert-danger">
      <div [hidden]="!center_lng.errors.required">
          Center longitude requires a number between -180 and 180!
      </div>
    </div>
  </div>
  <div class="row">
    <label for="zoom">Zoom Factor</label>
    <input type="number" minlength="1" maxlength="20" class="form-control" required [(ngModel)]="newTrip.zoom" name="zoom" #zoom="ngModel">
    <div *ngIf="zoom.errors && (zoom.dirty || zoom.touched)" class="alert alert-danger">
      <div [hidden]="!zoom.errors.required">
          Zoom requires an integer between 1 and 20!
      </div>
      <div [hidden]="!zoom.errors.minlength">
          Zoom requires an integer greater than or equal to 1!
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!tripForm.form.valid">Create</button>
  <a class="btn btn-primary" [routerLink]="['/trips']">Cancel</a>
</form>
