<h2>New Trip</h2>

<form (ngSubmit)="saveTrip(newTrip)">
  <div>
    <label for="name">Name</label>
    <input class="form-control" name="name" [(ngModel)]="newTrip.name">
  </div>
  <div>
    <label for="description">Description</label>
    <input class="form-control" name="description" [(ngModel)]="newTrip.description">
  </div>
  <div>
    <label for="center_lat">Center Latitude</label>
    <input class="form-control" name="center_lat" [(ngModel)]="newTrip.center_lat">
  </div>
  <div>
    <label for="center_lng">Center Longitude</label>
    <input class="form-control" name="center_lng" [(ngModel)]="newTrip.center_lng">
  </div>
  <div>
    <label for="zoom">Zoom Factor</label>
    <input class="form-control" name="zoom" [(ngModel)]="newTrip.zoom">
  </div>
  <input class="btn btn-primary" type="submit" value="Create">
</form>
