<div *ngIf="tripservice.marker" class="container">
  <div class='table-responsive'>
      <table class='table'>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>Image URL</th>
                  <th>Site URL</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{ tripservice.marker.name }}</td>
                  <!-- <td><a [routerLink]="['/trips', trip.id]">
                                {{ trip.name }}
                            </a>
						      </td> -->
                  <td>{{ tripservice.marker.description }}</td>
                  <td>{{ tripservice.marker.lat }}</td>
                  <td>{{ tripservice.marker.lng }}</td>
                  <td>{{ tripservice.marker.image_url }}</td>
                  <td>{{ tripservice.marker.poi_url }}</td>
              </tr>
          </tbody>
      </table>
    </div>
    <div>
      <a class="btn btn-primary" [routerLink]="['/markers/edit']">Edit Marker</a>
      <!-- <a class="btn btn-primary" [routerLink]="['/mapit']">Map Trip</a> -->
      <a class="btn btn-primary" (click)='onDelete()'>Delete Marker</a>
      <a class="btn btn-primary" [routerLink]="['/markers']">Back To Markers</a>
    </div>
    <div class='container'>
       <router-outlet></router-outlet>
    </div>
  <div>
