<div class="container" id="needs-validation" novalidate>
  <h3>Sign In</h3>
  <div>
    <label for="email">Email</label>
    <input class="form-control" [(ngModel)]="user.email" type="text" placeholder="Email"/>
  </div>
  <div>
    <label for="password">Password</label>
    <input class="form-control" [(ngModel)]="user.password" type="password" placeholder="Password"/>
  </div>
  <div>
    <input class="btn btn-primary" (click)="signIn()" type="submit" value="Log in"/>
  </div>
</div>
<div *ngIf="auth.user" class="container">
  <div>I see a user!!! <strong>{{auth.user.email}}</strong></div>
  <!-- <a [routerLink]="['/trips']">Trips</a> -->
</div>
